{
  "arrowParens": "avoid",
  "bracketSameLine": false,
  "bracketSpacing": true,
  "overrides": [
    {
      "files": ["**/*.js", "**/*.ts"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["**/*.yml", "**/*.yaml"],
      "options": {
        "singleQuote": true
      }
    },
    {
      "files": ["*.gql"],
      "options": {
        "printWidth": 80
      }
    }
  ],
  "printWidth": 120,
  "proseWrap": "always",
  "semi": true,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "all",
  "useTabs": false
}
